* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    line-height: 1.5;
    text-decoration: none;
    list-style: none;
}

.primary-font-color {
    color: white;
}

.secondary-font-color {
    color:grey
}

.header-logo {
    display: flex;
    justify-content: space-between;
    width: 73%;
    align-self: center;
}

ul {
    display: flex;
    gap:30px;
    font-size: 20px;
}


.welcome-message .welcome-description h1 {
    font-size: 50px;
}

.welcome-message {
    display: flex;
    justify-content: center;
    padding-top: 75px;
    gap: 125px;
}

.welcome-description {
    max-width: 654px;
    padding-top: 50px;
}

p {
    font-size: 20px;
}

#emoji-dando-joia {
    width: 24%;
    height: auto;
}

.header {
    padding: 16px 130px;
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    min-height: 650px;
}

.button-header {
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
    background-color: #3882F6;
    font-weight: 600;
    border-color: #3882F6;
    margin-top: 15px;
}

.illustration {
    height: 200px;
    width: 200px;
    border: 5px solid #3882F6;
    border-radius: 11px;
    margin-bottom: 10px;
}

.content-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 560px;
    justify-content: center;
}

.info-content-area {
    display: flex;
    gap: 70px;
    margin-top: 60px;
}

.info {
    max-width: 200px;
    text-align: center;
}

.content-area h1 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.quote-area {
    background-color: #E5E7EB;
    min-height: 504px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-area blockquote p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 36px;  
    color: #1F2937;
    max-width: 1000px;
}

.quote-area blockquote cite {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 36px; 
    text-align: end;
    display: block;
    text-align: end;
}


.CTA {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 336px;
}


.content-CTA {
    min-width: 1280px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 53px 0px;
    background-color: #007bff;
    border-radius: 13px;
}

.subscription p {
    color: #E5E7EB;
}


.subscription-button button {
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
    background-color:#007bff;
    font-weight: 600;
    border: 2px solid white;
    margin-top: 15px;
    color: white;
}

footer {
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
}

